.img_main_div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-content:space-between;
    width: 70%;
    margin: auto;
    margin-top: 3%;
     /* color: white;
    border: 1px solid red; */
}
.main_div{
    height: 80px;
    width: 156px;
    color: white;
    /* border: 1px solid red; */
    background-color: rgb(55, 52, 52);
    border-radius: 8px;
    justify-content: center;
    text-align: center;
    /* margin-top: 8%; */


}
.img{
    height: 50px;
    width: 50px;
    text-align: center;
    justify-content: center;
    margin-left: 38%;
    margin-top: 7%;
}
 

